<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <script src="{% static 'bootstrap/js/jquery.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="/media/css/{{ user_obj.blog.site_theme }}">

    {% block css %}

    {% endblock %}
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{ user_obj.blog.site_title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">首页 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">个人站点</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">更多 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">文章</a></li>
                        <li><a href="#">作者</a></li>
                        <li><a href="#">时间</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">站点</a></li>
                        <li role="separator" class="divider">站点</li>
                        <li><a href="#">用户</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    <li><a href="#">个人站点</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">用户信息 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" data-toggle="modal" data-target=".bs-example-modal-lg">修改密码</a>
                            </li>
                            <li><a href="#">用户信息</a></li>
                            <li><a href="#">修改样式</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout/">注销</a></li>
                        </ul>
                    </li>
                {% else %}

                    <ul class="dropdown-menu">
                        <li><a href="/login/">登录</a></li>
                        <li><a href="/register">注册</a></li>

                    </ul>


                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
    <div class="row">
        {#        左边广告#}
        <div class="col-md-2">
            {% load mytag %}
            {% index username %}

        </div>

        {#        中间内容#}
        <div class="col-md-8">
            {% block content %}

            {% endblock %}

            {{ page_obj.page_html|safe }}

        </div>


    </div>

</div>
{% block js %}


{% endblock %}
</body>
</html>


{#        中间内容#}
{#        <div class="col-md-8">#}
{#            {% block content %}#}
{#                <!--#}
{#                <ul class="media-list">#}
{#            显示文章内容#}
{#                    {% for article in article_list %}#}
{#                        <li class="media">#}
{#                            <div class="media-left">#}
{#                                <a href="#">#}
{#                                    <img class="media-object img-rounded" width="150px" height="150px"#}
{#                                         src="/media/{{ article.blog.userinfo.avatar }}" alt="..."#}
{#                                         style="border-radius: 50%">#}
{#                                </a>#}
{#                            </div>#}
{#                            <div class="media-body">#}
{#                                <a href="/{{ article.blog.userinfo.username }}/">#}
{#                                    <h4 class="media-heading">{{ article.title }}</h4>#}
{#                                </a>#}
{##}
{#                                <p>{{ article.content }}</p>#}
{##}
{#                            </div>#}
{#                            <br>#}
{#                        posted @ 2019-09-28 17:42 武沛齐 阅读 (1607) 评论 (2) 编辑#}
{##}
{#                            <div class="pull-right">#}
{#                                <a href="">#}
{#                                    <span>posted&nbsp;@&nbsp;</span>#}
{#                                </a>#}
{#                                <span>#}
{#                            <span class="glyphicon glyphicon-time"></span>#}
{#                            &nbsp; {{ article.create_time|date:'Y-m-d' }}#}
{#                        </span>#}
{#                                <span>#}
{#                           <span class="glyphicon glyphicon-user"></span>#}
{#                            &nbsp; {{ article.blog.userinfo.username }}#}
{#                        </span>#}
{#                                <span>#}
{#                            <span class="glyphicon glyphicon-comment"></span>#}
{#                            评论数&nbsp; ({{ article.comment_num }})#}
{#                        </span>#}
{#                                <span>#}
{#                            <span class="glyphicon glyphicon-thumbs-up"></span>#}
{#                            点赞数&nbsp; ({{ article.up_num }})#}
{#                        </span>#}
{##}
{#                                <span><span class="glyphicon glyphicon-pencil"></span>#}
{#                                <a href="#">编辑</a>#}
{##}
{#                        </span>#}
{##}
{#                            </div>#}
{##}
{##}
{#                        </li>#}
{#                        <hr>#}
{#                    {% endfor %}#}
{##}
{##}
{#                </ul>#}
{#                -->#}
{#            {% endblock %}#}
{##}
{#            {{ page_obj.page_html|safe }}#}
{##}
{#        </div>#}